class Throttle < Formula
  desc "Native macOS CLI for simulating constrained network conditions"
  homepage "https://github.com/odd-theory/throttle"
  url "https://github.com/odd-theory/throttle/archive/refs/tags/VERSION_TAG.tar.gz"
  sha256 "SOURCE_TARBALL_SHA256"
  license "MIT"

  depends_on xcode: ["16.0", :build]

  def install
    system "swift", "build", "-c", "release", "--disable-sandbox"
    bin.install ".build/release/throttle"
  end

  test do
    assert_match "WiFi", shell_output("#{bin}/throttle list")
  end
end
